# Individual Assignment - Number 2
<br>
Dear course participant,

please find attached your individual assignment for the practical lecture number 2. You have one week to complete your individual task. Please use this Jupyter Notebook to implement the solution of your task and dont forget to write down some helpful comments! The comments are usefull for us to understand your thoughs while checking your solution to the given task. 

After completion, please rename this file in the following format: `iliasID_matrikelNr`. For example: `mmuster_11012345`<br>
You can rename this file through `File` $\to$ `Rename` on the navigation bar.

Upload your renamed file in ILIAS/.../Jelali - Machine Learning (ML)/Assignments/Individual Assignments <br>
Link: https://ilu.th-koeln.de/ilias.php?baseClass=ilexercisehandlergui&cmdNode=cd:n0&cmdClass=ilObjExerciseGUI&cmd=showOverview&ref_id=184690&ass_id=9678 

Additional Information:<br>
If required, you can change the Kernel of this Notebook through `Kernel` $\to$ `Change Kernel` on the navigation bar.

**The assignment is due to 18.04.24 - 14:00**

*As a small reminder:*

**Do’s**
* Form study groups (with arbitrary number of people) $\to$ discuss and work on assignments in groups
    - learn from each other
    - Extensively use the internet (search engines e.g. google) and literature (papers, books, etc.) - knowledge is available everywhere! 
* Write down your own solutions 
* Write down the names of people with whom you’ve discussed the homework

**Don’ts**
* Copy solutions from others
* Plagiarism

Have fun implementing your own solution to this task!

## Individual Task

In this weeks assignment, you have more freedom to work on your individual task. You already learned the basic concept of a pandas DataFrame and also some of the data handling operations. Building on this previous knowledge, your task for this week is to choose an interesting data set from the following resourses and analyze it using the methods you have already learned. You are also very welcome to use new functions that we didnt discuss during the lecture. In this case, add a short comment in your code to tell us why you used this function.

Please visit the following open-source online databases to select a `multivariate` data set for your assignment:
- http://archive.ics.uci.edu/ml/datasets.php
- https://www.kaggle.com/datasets
- https://www.quandl.com/search

**Please note:** 

Make sure that your data set contain structured data, e.g. time-series data. Dont select unstructured data sets such as images or text documents! 

Your data set can consist of numerical or mixed (numerical and categorical) attributes. But it must be a multivariate data set.

The selected data set does not have to be from the field of engineering. The most important thing is that you are interested in the data. If you are interested in the analysis of portuguese wine quality from 2009, be free to select a corresponding data set for this purpose!

**Recommendations**

- create a new folder for your assignment and download or copy your data set into the same folder as this jupyter notebook document
- if your downloaded data set contain multiple data set files, please select one file to work on your assignment. 
    - only analyze and upload one single data file.
- rename the folder in the same way as this document using `iliasID_matrikelNr`
- you can make a .zip archive of your folder and upload your folder. 
    - make sure it contains your selected data set and this jupyter notebook document, which contains your results


**Tasks**

You should perform the following small tasks to analyze your data set:
1. first of all describe in a markdown cell why you selected this particular data set. Explain why you find this data set interesting and what insights you would like to gain from it. Write a maximum of 10 sentences.
2. open your data set on your computer (e.g. with a text editor or microsoft excel) and take a look on the data structure 
3. import your data set into a pandas DataFrame by using the `read_csv()` function and make a copy of it using the `copy()` function. Work on the copy for your further analysis.
4. take a quick look into the DataFrame using the `head()`, `tail()` and `random()` functions
5. print the data set information with pandas using the `info()` function
6. print the statistical description of the DataFrame using the `describe()` function
7. take a closer look into the individual column/attributes of the DataFrame. Create plots and histograms of selected attributes. (at least 2 attributes)
8. can you see any connections between the indiviual attributes? Use the `corr()` function of pandas to calculate the correlation matrix and the `heatmap()` function of seaborn to visualize the results
9. use the `boxplot()` function of seaborn to create boxplots
10. select three attributes from the data set and create a `multiple subplot` using matplotlib. The subplot should be used to visualize the course of all three attributes in separate plot functions embedded in a single figure. Use the following line of code to initialize your subplots: <br>`fig, (ax1, ax2, ax3) = plt.subplots(3, 1)`

At first glance, the tasks look like a lot of work. However, the individual sub-items are processed quickly. Remember that you will be working on very extensive project work in a few weeks and use this opportunity to improve your knowledge with the data science tools. Also dont forget to have fun! 

You have a lot of freedom in handling this weeks assignment. The work packages defined above must be processed. However, you can also edit other content at your own interest. Be creative!


**Please upload your jupyter notebook document AND your selected dataset in ILIAS after completion of your assignment!**

In [60]:
# import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Render plots inline
%matplotlib inline

# Make the graphs a bit prettier, and bigger
plt.rcParams['figure.figsize'] = (15, 5)

## Start working on your task here

# #1
Ich mag sehr gerne Fahrrad fahren und habe mir deshalb das Dataset ausgesucht. Um zur TH Köln zu kommen, benutze ich selber ein Bike Sharing-Angebot und finde es deshalb interessant wie oft und bei welchen Wetterverhältnissen ein Fahrrad ausgeliehen wird. Ich möchte herausfinden bei welcher Temperatur Fahrräder am häufigsten ausgeliehen wurden.

# #2
Mit Excel geöffnet

# #3

In [61]:
df = pd.read_csv('day.csv', header=0)
data = df.copy()

# #4

In [62]:
data.head(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801

In [63]:
data.tail(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [64]:
data.sample(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
446,447,2012-03-22,2,1,3,0,4,1,1,0.554167,0.531567,0.831250,0.117562,1334,5537,6871
574,575,2012-07-28,3,1,7,0,6,0,1,0.755833,0.697604,0.613333,0.157350,2234,4451,6685

# #5

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

# #6

In [66]:
data.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

# #7